 body {
      background-color: #f0f0f0;
      font-family: sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
.square1 {
 width: 100px;
 height: 100px;
 background-color: greenyellow;
 display: inline-block;
}
.square2 {
 width: 100px;
 height: 100px;
 background-color: gray;
 display: inline-block;
}
